@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body{
	margin: 0px;
}

header{
	background-color: #dcf5ff;
	margin: 0px;
}

header > a{
	background-color:#ffcfac ;
	color: black;
	text-decoration: none;
}

body > h2{
	font-size: 2.7em;
}

header > p{
	color: #ec9556;
}

header img{
	height: 15px;
	width: 15px;
}

button{
	background-color: #ffcfac;
	color: white;
	cursor: pointer;
	margin: 4px 2px;
	padding: 4px 6px;
	border: none;
	border-radius: 12px;
}

button:hover{
	background-color: #ff9a52;
}
/* <a> tags styled to look like buttons */
.button{
	background-color: #ffcfac;
	color: white;
	cursor: pointer;
	margin: 4px 2px;
	padding: 4px 6px;
	border: none;
	border-radius: 12px;
	text-decoration: none;
}

.button:hover{
	background-color: #ff9a52;
}

hr{
	width: 95%;
}

input{
	border-color: #ffcfac ;
	border-style: solid;
}

.category div {
	border-color:#ffcfac ;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin: 5px;
	width: 6em;
}

.profile_navbar nav{
	background-color: #ffcfac;
}

.profile_navbar a{
	color: black;
	text-decoration: none;
}

ul{
	list-style-type: none;

}

.stars i{
	color: rgb(255, 145, 0);
	cursor: pointer;
}

